@model IEnumerable<GPromice.Product>

@{
    ViewBag.Title = "prouduct";

}


<div class="row">
<div class="col-md-12">
    <div class="page-header">
        <h2>Our Producrs <small>trends products</small></h2>
    </div>
</div>
</div>





<div class="row product-container">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
            <div class="thumbnail product-item" style="height:300px">

                <img class="img-responsive" title="click to view Product detail" 
                     style="cursor:pointer;height:160px;width:100%" src="\Content\Images\@item.ProductImage" />


                <div class="caption">
                    <h5> @item.ProductName</h5>

                    <p>  @item.Price</p>
                   
                    <p>Available</p>
                    <div class="product-item-badge">New</div>
                </div>
            </div>
        </div>
    }
    </div>







